.column-show-more {

    .content-row {
        display: flex;
        justify-content: space-between;

         @media (max-width: 991px) {
               flex-direction: column-reverse;
         }

         &.reverse {
            flex-direction: row-reverse;

            @media (max-width: 991px) {
               flex-direction: column-reverse;
            }
            .text {
                display: flex;
                justify-content: flex-end;
                padding-left: 15px;
            }
         }

        .text {
            width: 50%;

            @media (max-width: 991px) {
                width: 100%;
            }

            .text-wrapper {
                position: relative;
                max-width: 555px;
                height: 445px;
                overflow: hidden;

                @media (max-width: 991px) {
                    max-width: 100%;
                    text-align: center;
                }

                .shadow {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 100px;
                    width: 100%;
                    background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(255, 255, 255, 0.65) 0%, #FFF 72.48%);
                }

                &.open {
                    height: 100%;
                    .shadow {
                        display: none;
                    }
                }
            }

            .showmore {
                padding-top: 20px;
                 max-width: 555px;
                 font-size: 15px;
                 font-family: $font-Montserrat-Bold;
                 text-transform: uppercase;
                 text-decoration: underline;
                 cursor: pointer;
                 color: $brand-green;

                 @media (max-width: 991px) {
                    max-width: 100%;
                    text-align: center;
                }
            }
        }   

        .image {
            width: 50%;
            padding-left: 15px;

            @media (max-width: 991px) {
                width: 100%;
                padding-bottom: 40px;
            }
        }

        .quote {
            position: relative;
            margin: 120px auto 0 auto;
            font-size: 40px;
            text-align: center;
            width: fit-content;
            padding-left: 70px;
            padding-right: 60px;

            @media (max-width: 1199px) {
                font-size: 35px;
            }

             @media (max-width: 991px) {
                 margin: 50px auto 0 auto;
                 font-size: 30px;
             }

            strong {
               font-family: $font-Montserrat-Bold;
               color: $brand-color;
            }

            // span {
            //     position: relative;
            // }

            img {
                position: absolute;
            }

            .quote-left {
                top: 0;
                left: 0;
            }

            .quote-right {
                bottom: 10;
                right: 0;
            }
        }
    }
}