.numbered-boxes {


    .boxes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        justify-items: center;

        @media (max-width: 1440px) {
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
        }

        @media (max-width: 991px) {
             grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .item {
            padding: 60px 20px;
            text-align: center;

            @media (max-width: 1440px) {
               
            }

            &:first-child {
                margin-left: 0;
            }

            .number {
                font-size: 40px;
                color: $brand-color;
                font-family: $font-Montserrat-Medium;
                line-height: 1;
            }

            .title {
                padding-top: 20px;
                padding-bottom: 20px;
                color: $brand-color;
                font-family: $font-Montserrat-Medium;
            }
        }
    }
}