//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $brand-green;
    text-decoration: underline;
  }
}

.btn,
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  @include on-event {
    outline: 0;
    @include boxshadow(none);
  }
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;
  outline: none;

  @include on-event {
    @include boxshadow(none);
  }
}

//styles for navbar-toggler
.navbar-toggler {
  padding: 10px 0;

  border: 0;
  border-radius: 0;

  .icon-bar {
    display: block;
    height: 4px;
    width: 29px;

    background: #000;

    @include transition(0.5s cubic-bezier(0.65, 0.05, 0.36, 1));

    @include boxshadow(none);

    &+.icon-bar {
      margin-top: 4px;
    }
  }

  &[aria-expanded="true"] {
    .icon-bar {
      &:first-child {
        @include transform(rotate(225deg) translate(-6px, -5px));
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        @include transform(rotate(-225deg) translate(-6px, 6px));
      }
    }
  }

  @include on-event() {
    outline: 0;
  }
}

.container {
  @media (min-width: 1200px) {
    max-width: 1453px;
  }
}

.brand-background {
  background-color: $brand-background;
}


section {
  padding: 100px 0;

  @media (max-width: 1199px) {
    padding: 50px 0;
  }
}

.absolute-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main {
  padding-top: 121px;

  @media (max-width: 1440px) {
      padding-top: 106px;
  }

  @media (max-width: 1199px) {
      padding-top: 76px;
  }
}

strong {
  font-family: $font-Montserrat-Bold;
}



.radio-toggle-group {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    margin: 0;
    padding: 0;
    display: contents;
  }

  .custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .wpcf7-list-item {

      &:first-child {
        margin: 0;
      }

      label {
        display: flex;
        align-items: center;
      }
    }

    input[type="radio"] {
      appearance: none;
      width: 25px;
      height: 25px;
      border: 1px solid #000;
      border-radius: 50%;
      margin-right: 8px;
      position: relative;
      cursor: pointer;

      &:checked::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 19px;
        height: 19px;
        background-color: blue;
        border-radius: 50%;
      }
    }

    .radio-label {
      font-size: 1rem;
      color: #000;
    }
  }
}

.radio-label {
  font-size: 18px;
}

label {
  font-size: 14px;
}

input.input-gray,
textarea.input-gray {
  padding: 15px;
  font-size: 14px;
  border: none;
  background-color: #F3F3F3;
  border-radius: 10px;

  &:focus {
    background-color: #F3F3F3;
  }
}

textarea.input-gray {
  height: 130px !important;
  &:focus {
    background-color: #F3F3F3;
  }
}

.wpcf7-spinner {
  display: none;
}